
/* ===================================
 * @description layout 整体布局
 * @author luoxue
 * @time 20151020
 * ===================================
 */

* {
	margin: 0;
	padding: 0;
}

.win8_module_workflow {
	overflow-y: hidden;
    background: url('http://42.96.175.100/static/theme/13/images/index_bg/default.png') left top repeat-x;
}

#container {
	position: absolute;
	width: 100% !important;
	min-width: 600px;
	width: 600px;
	height: 100%;
}

#north {
	width: 100%;
	height: 78px;
	min-width: 600px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

#taskbar {
	width: 100%;
	height: 40px;
	min-width: 600px;
	margin-top: 78px;
	*zoom: 1;
}

#funcbar {
	width: 100%;
	height: 32px;
	min-width: 600px;
	background: #e0ecfd url('http://42.96.175.100/static/theme/13/images/funcbar_bg.png') left top repeat-x;
}

.content {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #e1eaf6;
}

#status {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-color: #2f8ac1;
}


/* ===================================
 * @description #north模块儿
 * @author luoxue
 * @time 20151020
 * ===================================
 */

#north-left,
#north-right {
	position: absolute;
	width: 50%;	
}

#north-left {
	left: 0;
	right: 50%;
	padding-left: 25px;
}

#north-left span{
	color: #FFFFFF;
    font-weight: bold;
    font-size: 18pt;
    line-height: 78px;
}

#north-right {
	right: 0%;
	padding: 5px 25px 0 0;
	text-align: right;
}

#time_area {
	font-size: 28px;
    font-weight: bold;
    font-family: Arial;
}

.date-font {
	color: #fff;
	line-height: 25px;
    font-size: 14px;
    font-family: 微软雅黑,宋体;
    cursor: pointer;
}

/* ===================================
 * @description #taskbar模块儿
 * @author luoxue
 * @time 20151020
 * ===================================
 */

#taskbar-left,
#taskbar-center,
#taskbar-right {
	height: 100%;
}

#taskbar-left {
	width: 115px;
	float: left;
}

#taskbar-center {
	margin: 0 300px 0 115px;
	min-width: 300px;
	white-space: nowrap;
	font-size: 0;
}

#taskbar-center-indemo {
	overflow: hidden;
}

#taskbar-right {
	width: 375px;
	float: right;
	text-align: right;
	padding-right: 20px;
	/*background-color: black;*/
}

#taskbar-menu {
    width: 97px;
    height: 40px;
    margin: 0 auto;
    background: url('http://42.96.175.100/static/theme/13/images/start_menu.png') center 0px no-repeat;
}

.taskbar-tab-wrap  {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	height: 40px;
	overflow: hidden;
}

#taskbar-tab-list {
	width: 200%;
	overflow: hidden;
	*zoom: 1;
}

#taskbar-tab-list:after {
	content: "";
	display: table;
	clear: both;
}

.preTab,
.nextTab {
	width: 30px;
    height: 35px;
    cursor: pointer;
    display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: bottom;
	visibility: hidden;
}

.preTab {
	background: url('http://42.96.175.100/static/theme/10/images/tabs_arrow.png') no-repeat 0px center;
}

.preTab:hover {
	background: url('http://42.96.175.100/static/theme/10/images/tabs_arrow.png') no-repeat -60px center;
}

.nextTab {
	background: url('http://42.96.175.100/static/theme/10/images/tabs_arrow.png') no-repeat -30px center;
}

.nextTab:hover {
	background: url('http://42.96.175.100/static/theme/10/images/tabs_arrow.png') no-repeat -90px center;
}

.taskbar-tab {
	float: left;
	margin-right: 3px;
    padding-right: 5px;
    margin-top: 5px;
    background: url('http://42.96.175.100/static/theme/13/images/tabs_inactive.png') no-repeat right -36px;
}

.taskbar-tab:hover {
	cursor: pointer;
}

.taskbar-tab .tab {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding-left: 10px;
    padding-right: 3px;
    min-width: 64px !important;
    width: auto !important;
    width: 80px;
    text-decoration: none;
    color: #07294f;
    height: 35px;
    font-size: 13px;
    line-height: 35px;
    text-align: center;
    position: relative;
    background: url('http://42.96.175.100/static/theme/13/images/tabs_inactive.png') no-repeat left 0px;
}

.taskbar-tab-active {
    background: url('http://42.96.175.100/static/theme/13/images/tabs_active.png') no-repeat right -36px;	
}

.taskbar-tab-active .tab{
    color: #227db2;
    font-weight: bold;
    background: url('http://42.96.175.100/static/theme/13/images/tabs_active.png') no-repeat left 0px;	
}

.tab-close {
	width: 16px;
    height: 16px;
    margin-bottom: -4px !important;
    margin-bottom: 2px;
    position: relative;
    display: inline-block;
	*display: inline;
	*zoom: 1;
    background: url('http://42.96.175.100/static/theme/10/images/tabs_close.png') 0px center no-repeat;
}

.tab-close:hover {
	background: url('http://42.96.175.100/static/theme/10/images/tabs_close.png') -15px center no-repeat;
}

.taskbar-icon {
	width: 25px;
	height: 25px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin: 10px 0 0 10px;
	cursor: pointer;
}

.taskbar-hide {
	background: url(http://42.96.175.100/static/theme/13/images/desktop_icons.png) -117px 0px no-repeat;;
}

.taskbar-exit {
	background: url(http://42.96.175.100/static/theme/13/images/desktop_icons.png) -288px 0px no-repeat;;
}

.taskbar-exit:hover {
	background: url(http://42.96.175.100/static/theme/13/images/desktop_icons.png) -288px -25px no-repeat;;
}

.taskbar-skin {
	background: url(http://42.96.175.100/static/theme/13/images/desktop_icons.png) -364px 0px no-repeat;;
}

.taskbar-skin:hover {
	background: url(http://42.96.175.100/static/theme/13/images/desktop_icons.png) -364px -25px no-repeat;;
}

.taskbar-setting {
	background: url(http://42.96.175.100/static/theme/13/images/desktop_icons.png) -254px 0px no-repeat;;
}

.taskbar-setting:hover {
	background: url(http://42.96.175.100/static/theme/13/images/desktop_icons.png) -254px -25px no-repeat;;
}

/* =================================================
 * @description 菜单列表管理模块儿
 * ==================================================
 */

#menue-list {
	position: relative;
    z-index: 1;
    width: 490px;
    height: 520px;
    background-color: #678ace;
    top: 7px;
    left: 15px;
    box-shadow: 0 0 5px #333;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    display: none;
}

#triangle {
	position: relative;
    top: -24px;
    left: 41px;
	width: 0;
    height: 0;
    border: 12px solid transparent;
    border-bottom-color: #678ace;
}

.menue-top {
	height: 54px;
	margin-top: -15px;
}

.menue-top-left,
.menue-top-right {
	width: 50%;
	position: absolute;
}

.menue-top-left {
	left: 0;
	right: 50%;
	padding-left: 10px;
	text-align: left;
}

.menue-top-right {
	right: 0;
	padding: 15px 10px 0 0;
	text-align: right;
}

.avator,
.username,
.menue-cancellation,
.menue-exit {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.avator {
	border-radius: 3px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 3px;
    width: 38px;
    height: 38px;
    background-color: #fff;
}

.avator img {
	width: 38px;
	height: 38px;
}

.username {
	color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.menue-cancellation {
	width: 58px;
    height: 24px;
    background: url(http://42.96.175.100/static/theme/13/images/logout.jpg) 0px 0px no-repeat;
}

.menue-cancellation:hover {
	cursor: pointer;
	background-position: 0 -24px;	
}

.menue-exit {
	width: 58px;
    height: 24px;
    background: url(http://42.96.175.100/static/theme/13/images/logout.jpg) -58px 0px no-repeat;
}

.menue-exit:hover {
	cursor: pointer;
	background-position: -58px -24px;	
}

.menue-content {
	width: 480px;
	height: 460px;
	margin: 0 auto;
	*zoom: 1;
}

.menue-content:after {
	content: "";
	display: table;
	clear: both;
}

.menue-content-left,
.menue-content-center,
.menue-content-right {
	float: left;
	height: 452px;
}

.menue-content-left {
	width: 195px;
	font-size: 12px;
	background-color: #e8ebf0;
}

.menue-content-center {
	width: 180px;
	font-size: 12px;
	overflow: auto;
	background-color: #eaeaea;
}

.menue-content-right {
	width: 105px;
	font-size: 14px;
	text-align: center;
	background-color: #f0f0f0;
}

.one-first-munue {
	height: 25px;
	padding: 10px 0 0 10px;
	background: url('http://42.96.175.100/static/theme/13/images/menu_bg.png') right 6px no-repeat;
}

.one-first-munue:hover {
	color: #fff;
	background-position: right -24px;
}

.one-first-munue img {
	vertical-align: bottom;
}

.one-first-munue .title {
	margin-left: 10px;
}

.active-menue {
	color: #fff;
	background-position: right -24px;
}

.active-icon {
	
}

.scroll-down,
.scroll-up {
	width: 100%;
	height: 20px;
	cursor: pointer;
}

.scroll-up {
	padding: 5px 0 0 0;
	background: url('http://42.96.175.100/static/theme/10/images/scroll_arrow.png') center 0px no-repeat;
}

.scroll-up:hover {
	background-position: center -40px;
	background-color: #c1d4f3;
}

.scroll-down {
	background: url('http://42.96.175.100/static/theme/10/images/scroll_arrow.png') center -20px no-repeat;
}

.scroll-down:hover {
	background-position: center -60px;
	background-color: #c1d4f3;
}

.menue-group-list-wrap {
	height: 388px;
	overflow: hidden;
}

.menue-group-list {
	margin-top: -6px;
}

.menue-one-app {
	padding-left: 20px;
    height: 30px;
    line-height: 30px;
    display: block;
    overflow: hidden;
    cursor: pointer;
    background: url('http://42.96.175.100/static/theme/13/images/menu_span_bg.png') 0px 0px no-repeat;
}

.menue-one-app:hover {
	color: #fff;
	background-color: #6083c7;
	background-position: 0 -30px;
}

.one-fast-app {
	width: 85px;
	height: 66px;
	color: #006ab6;
	margin: 0 auto;
	margin-top: 3px;
}

.one-fast-app:hover {
	color: #fff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	cursor: pointer;
	background-color: #678ACE;
}

.fast-app-icon {
	width: 40px;
	height: 40px;
	margin: 0 auto;
	background-position: -1519px 38px;
	background-image: url('http://42.96.175.100/static/portal/index/icons/all.png');
}

.first: {
	background-position: -1519px 38px;
}

.one-fast-app:hover .first {
	background-position: -1519px -118px;
}

.second {
	background-position: 0 -80px;
}

.one-fast-app:hover .second {
	background-position: 0px 0px;
}

.third {
	background-position: -381px -80px;
}

.one-fast-app:hover .third {
	background-position: -381px 0;
}

.forth {
	background-position: -760px -80px;
}

.one-fast-app:hover .forth {
	background-position: -760px 0;
}

.fifth {
	background-position: -947px -80px;
}

.one-fast-app:hover .fifth {
	background-position: -947px 0;
}


.sixth {
	background-position: -1520px -80px;
}

.one-fast-app:hover .sixth {
	background-position: -1520px 0;
}

/* ======================================
 * @description footer 模块儿
 * @author luoxue
 * @time 20151021
 * ======================================
 */

.online-people {
	width: 20%;
	left: 0;
	right: 80%;
	position: absolute;
	font-size: 12px;
    color: #fff;
    line-height: 30px;
    padding-left: 100px;
}

.other-info {
	width: 80%;
	right: 0;
	text-align: right;
	position: absolute;
}

.display {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	margin-right: 10px;
}

.psroblem-feedback {
	font-size: 12px;
    color: #fff;
    line-height: 30px;
}

.recommand,
.message-box,
.bu-list {
	width: 25px;
	height: 25px;
}
.recommand {
	background: url('http://42.96.175.100/static/theme/13/images/desktop_icons.png') -323px -25px no-repeat;
}

.message-box {
	background: url('http://42.96.175.100/static/theme/13/images/desktop_icons.png') -174px -25px no-repeat;
}

.bu-list {
	background: url('http://42.96.175.100/static/theme/13/images/desktop_icons.png') -214px -25px no-repeat;
}
